
    @model BookStore.Models.Book
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form asp-action="AddBook" asp-controller="Book" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input asp-for="Title" class="form-control"  >       
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Description</label>
        <input asp-for="Description" class="form-control">       
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Author</label>
        <input asp-for="Author" class="form-control"  >       
    </div>
    @* <div class="input-group mb-3">
        <input asp-for="ImagePath" type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div> *@
    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input asp-for="imagefile" type="file" name="ImageFile" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Price</label>
         <input asp-for="Price" class="form-control">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">QuantityAvailable</label>
       <input asp-for="QuantityAvailable" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Category</label>
                <input asp-for="categoryId" class="form-control" >
    </div>
   
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>

